{% extends 'TroiswaBlogBundle::layout.html.twig' %}

{% block nav %}
    {% embed "TroiswaBlogBundle:Default:nav.html.twig" %}
        {%  block search %}
            {{ include ('TroiswaBlogBundle:Default:search.html.twig') }}
        {%  endblock search %}
    {% endembed %}
{%  endblock %}


{% block content %}
<!-- Start Posts Container -->
<div class="col-2" id="post-container">
    <div class="wrap-col">



        <!-- Start Post Item -->
        <div class="post">
            <div class="post-margin">

                <div class="post-avatar">
                    <div class="avatar-frame"></div>
                    <img alt='' src='http://1.gravatar.com/avatar/16afd22c8bf5c2398b206a76c9316a3c?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' />                </div>

                {#titire du post : #}

                <h4>{{ thearticle.titre }}</h4>
                <ul class="post-status">

                    {#date de creation du post : #}

                    <li><i class="fa fa-clock-o"></i>{{ thearticle.dateCreation|date('Y-m-d') }}</li>

                    {# AFAIRE, voir categorie a changer dynamiquement : #}

                    <li><i class="fa fa-folder-open-o"></i><a href="#" title="View all posts in Illustration" rel="category">Illustration</a></li>

                    {# AFAIRE, nombre comments a changer dynamiquement : #}

                    <li><i class="fa fa-comment-o"></i>No Comments</li>
                </ul>
                <div class="clear"></div>
            </div>

            <div class="featured-image">

                {# AFAIRE, image du post a changer dynamiquement : #}

                <img src="img/Port_Harbor1-610x350.jpg" class="attachment-post-standard "  />
                <div class="post-icon">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>

            <div class="post-margin">

                {#contenu du post : #}

                <p> {{ thearticle.contenu | raw }}</p>

                <!-- Post Tags -->

                <div class="post-tags">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>

                        {# AFAIRE, tags du post a changer dynamiquement, ou a enlever ? : #}

            </span><a href="#" rel="tag">Color Schemes</a>, <a href="#" rel="tag">Gallery</a>, <a href="#" rel="tag">Images</a>, <a href="#" rel="tag">Light</a>, <a href="#" rel="tag">Post</a>, <a href="#" rel="tag">Slider</a>, <a href="#" rel="tag">Standard</a></div>
                <div class="clear"></div>            <!-- End Post Tags -->

            </div>


            {# AFAIRE, FB, twitter, socials etc ... : #}

            <!-- Post Social -->
            <ul class="post-social">
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>

                <li><a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i></a></li>
            </ul>
            <!-- End Post Social -->
            <div class="clear"></div>
        </div>
        <!-- End Post Item -->


        {# AFAIRE, affichage related posts dynamiquement : #}



        <div class="post">
            <div class="post-margin">

                <!-- Start Related Item -->
                <div class="related-posts">

                    <div class="post-avatar">
                        <div class="avatar-frame"></div>
                        <img width="70" height="70" src="img/one-more-beer-70x70.png" class="attachment-post-widget #"  />    </div>

                    <div class="related-posts-aligned">
                        <h6><a href="#">One More Beer</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <!-- End Related Item -->


                <!-- Start Related Item -->
                <div class="related-posts">

                    <div class="post-avatar">
                        <div class="avatar-frame"></div>
                        <img width="70" height="70" src="img/Port_Harbor1-70x70.jpg" class="attachment-post-widget #"  />    </div>

                    <div class="related-posts-aligned">
                        <h6><a href="#">Port Harbor</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <!-- End Related Item -->


                <!-- Start Related Item -->
                <div class="related-posts">

                    <div class="post-avatar">
                        <div class="avatar-frame"></div>
                        <img width="70" height="70" src="img/Timothy-J-Reynolds-2560x14401-70x70.jpg" class="attachment-post-widget #"  />    </div>

                    <div class="related-posts-aligned">
                        <h6><a href="#">Underground Volcano</a></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet auctor ligula. Donec eu</p>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
                <!-- End Related Item -->

                <div class="clear"></div>
            </div>
        </div>






        <!-- Comments -->
        <div class="comment-container">



            <h6 id="comment-header">

                {# AFAIRE verifier si comments sinon ne pas afficher ce message : #}
                No Comments, Be The First!

            </h6>

            <ul class="comment-list">

                {# AFAIRE affichage comments et le styliser car pas de style present dans le theme #}

                {#{% for commentaire in thearticle.comments %}#}
                {#<div class="comments">#}
                {#{{ commentaire.auteur }}#}
                {#{{ commentaire.contenu }}#}
                {#{{ commentaire.note }}#}

            </ul>







{#dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd#}


            <div id="leavecomment" class='well' >
                <h2>LEAVE A COMMENT</h2>

                {{ form_start(formComm, {'method':'POST','id':'formName'}) }}
                {{ form_errors(formComm) }}
                <div>
                    {{ form_label(formComm.auteur) }}
                    {{ form_widget(formComm.auteur,{'attr': {'placeholder':'auteur', 'class':'form-control'} }) }}
                    {{ form_errors(formComm.auteur) }}
                </div>

                <div>{{ form_label(formComm.contenu) }}
                    {{ form_widget(formComm.contenu,{'attr': {'placeholder':'contenu', 'class':'form-control'} }) }}
                    {{ form_errors(formComm.contenu) }}
                </div>

                <div>{{ form_label(formComm.note) }}
                    {{ form_widget(formComm.note,{'attr':{'placeholder':'note', 'class':'form-control' }})}}
                    {{ form_errors(formComm.note) }}
                    <div id="rating"></div>
                </div>

                <br/>

                <div>{{ form_widget(formComm.valider,{'attr':{'class':'btn btn-primary' }}) }}</div>

                {#token pour empecher  faille XSS#}
                {{ form_rest(formComm) }}
            </div>
            </form>


{#dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd#}

        {# AFAIRE AFAIRE adapter le form symfony/twig au style du theme#}

            <!-- Comment Form -->
            {{ form_start(formComm, {'method':'POST','id':'formName'}) }}
            {{ form_errors(formComm) }}

            <div class="comment-form">
                <div id="respond" class="comment-respond">

                    {#AFAIRE faire afficher ce h3 qui est en display none,JS..?#}
                    {#<h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel Reply</a></small></h3>#}

                    <form  id="comment-form-container" class="comment-form">
                        <p class="comment-notes"></p>							<input type="text" name="author" placeholder="Enter Name" class="comment-name"  />
                        <input type="text" name="email" placeholder="Enter Email" class="comment-email"  />
                        <input type="text" name="url" placeholder="Enter URL" class="comment-url" />
                        <textarea name="comment" placeholder="Enter Message Here" class="comment-text-area"></textarea>						<p class="form-allowed-tags"></p>						<p class="form-submit">
                            <input name="submit" type="submit" id="comment-submit" value="Send Comment" />
                            <input type='hidden' name='comment_post_ID' value='49' id='comment_post_ID' />
                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                        </p>
                    </form>
                </div><!-- #respond -->
                <div class="clear"></div>
                </form>
            </div>
            <!-- End Comment Form -->

        </div>
        <!-- End Comments -->


        <div class="clear"></div>
    </div>
</div>


<!-- End Posts Container -->
{% endblock %}

{% block sidebar %}



{% endblock %}


{#ancien theme#}


{#<div id="article">#}

    {#<fieldset>#}
    {#<legend>{{ thearticle.titre }}</legend>#}
    {#<p>Auteur:{{ thearticle.auteur}}</p>#}
    {#<p>{{ thearticle.dateCreation|date('Y-m-d') }}</p>#}

    {#<p>{{ thearticle.contenu }}</p>#}
    {#</fieldset>#}

    {#<button><a href='{{ path('troiswa_blog_edit-article' , { 'idarticle' : thearticle.id}) }}'>Modifier</a></button>#}
    {#<button><a href='{{ path('troiswa_blog_delete-article' , { 'idarticle' : thearticle.id}) }}'>Supprimer</a></button>#}

    {#</div>#}



    {#{% for commentaire in thearticle.comments %}#}
    {#<div class="comments">#}
    {#{{ commentaire.auteur }}#}
    {#{{ commentaire.contenu }}#}
    {#{{ commentaire.note }}#}

    {#</div>#}

    {#{% endfor %}#}

    {#&#123;&#35; pour afficher un message quand le comment a bie n eté posté &#35;&#125;#}
    {#{% for flash in app.session.flashbag.get('notice') %}#}
    {#<h1> {{ flash }}</h1>#}
    {#{% endfor %}#}



    {#&#123;&#35;affichage du formulaire :&#35;&#125;#}

    {#&#123;&#35;<div id="leaveComment">&#35;&#125;#}

    {#&#123;&#35;{{ form(formCommm) }}&#35;&#125;#}

    {#&#123;&#35;</div>&#35;&#125;#}

    {#&#123;&#35;ou:&#35;&#125;#}



    {#<div id="leavecomment" class='well' >#}
    {#<h2>LEAVE A COMMENT</h2>#}

    {#{{ form_start(formComm, {'method':'POST','id':'formName'}) }}#}
    {#{{ form_errors(formComm) }}#}
    {#<div>#}
    {#{{ form_label(formComm.auteur) }}#}
    {#{{ form_widget(formComm.auteur,{'attr': {'placeholder':'auteur', 'class':'form-control'} }) }}#}
    {#{{ form_errors(formComm.auteur) }}#}
    {#</div>#}

    {#<div>{{ form_label(formComm.contenu) }}#}
    {#{{ form_widget(formComm.contenu,{'attr': {'placeholder':'contenu', 'class':'form-control'} }) }}#}
    {#{{ form_errors(formComm.contenu) }}#}
    {#</div>#}

    {#<div>{{ form_label(formComm.note) }}#}
    {#{{ form_widget(formComm.note,{'attr':{'placeholder':'note', 'class':'form-control' }})}}#}
    {#{{ form_errors(formComm.note) }}#}
    {#<div id="rating"></div>#}
    {#</div>#}

    {#<br/>#}

    {#<div>{{ form_widget(formComm.valider,{'attr':{'class':'btn btn-primary' }}) }}</div>#}

    {#&#123;&#35;token pour empecher  faille XSS&#35;&#125;#}
    {#{{ form_rest(formComm) }}#}
    {#</div>#}
    {#</form>#}



    {#</div>#}




    {#<script>#}
    {#$('rating').raty();#}
    {#</script>#}